// _mixins.scss

// Centering elements
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin vertical-center {
  display: flex;
  justify-content: center;
}

// Define a mixin for Montserrat font
@mixin montserrat-font($uniquifier, $weight) {
  .montserrat-#{$uniquifier} {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}

// Responsive design
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
