// _variables.scss
$slider-top-margin: 10rem;

// Colors
$primary-color: #4caf50;
$secondary-color: #2c3e50;
$text-color: #333;
$active-dot-color: gray;

// Fonts
$font-family: "Montserrat, sans-serif";
$heading-font-size: 2rem;
