// _base.scss

@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set 1rem = 10px */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  body {
    font-family: $font-family;
    color: $text-color;
    line-height: 1.6;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
