// main.scss

@import "variables";
@import "mixins";

.main {
  height: 100vh;
  background: #f4f4f4;
  @include flex-center;
  .slider {
    background: url("background.jpg") no-repeat center center/cover;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  p {
    font-size: 1.5rem;
  }
}
